<a href="https://colab.research.google.com/github/menalipaul2503/class/blob/main/Python_coaching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi,Evie")

Hi,Evie

In [ ]:
print("Hi")
#concanate the two strings
print("hello"+" hi")

Hi
hello hi

In [ ]:
a=3
b=5
print(a*b)

15

In [ ]:
x="Omi"
y="patel"
print(x+y)

Omipatel

In [ ]:
c="2"
d="9"
print(c+d)

29

In [ ]:
e="I am ="
f=17
print(e, end="") 
print(f)

I am =17

In [ ]:
x=2
x="omi"
print(x)
print(type(x))

omi
<class 'str'>

In [ ]:
x=2.4
y="omi"
z=5
q=8j
print(type(x))
print(type(y))
print(type(z))
print(type(q))
# data type

<class 'float'>
<class 'str'>
<class 'int'>
<class 'complex'>

In [ ]:
x=3.99
y=3.2
z=3
print(str(x))
print(int(y))
print(float(z))

3.99
3
3.0

In [ ]:
x="omi"
#is the same as
y='omi'
print(x,y)

omi omi

In [ ]:
a=7
A=8
print(a,A)
# a and A are different

7 8

In [ ]:
myvar="omi"
Myvar="omi"
mYvAr8="tomi"
my_var="omi"
_my_var_="tomi"
print(myvar)
print(Myvar)
print(mYvAr8)
print(my_var)
print(_my_var_)
# legal variable names

omi
omi
tomi
omi
tomi

In [ ]:
my-var="omi"
2myvar="omi"
my var="omi"
# dosn't work
# Illegal variable names 
# Variable names are case-sensitive

SyntaxError: ignored

In [ ]:
x , y , z='Omi' ,"Aditi" ,"Menali"
print( x ,'','', y , z)

Omi   Aditi Menali

In [ ]:
name = input("Enter your name: ")  
print(name)

Enter your name: kj
kj

In [ ]:
a=b=c=d=e=3
print(a+b+c-d+e)

9

In [ ]:
c=d="cherry"
e="bon"
print(c,d,e,e)

cherry cherry bon bon

In [ ]:
a="cherry"
print(a,"hi", a)

cherry hi cherry

In [ ]:
flower= ["rose", "lotus", "tulip"]
a,b,c= flower
print(a,b,c)

rose lotus tulip

In [ ]:
#List
x=["pink","purple", "black"]
print(x)

['pink', 'purple', 'black']

In [ ]:
#tuple
y=('pink', 'blue', 'green')
print(y)
print(type(y))

('pink', 'blue', 'green')
<class 'tuple'>

In [ ]:
#Range
e=range(5)
print(e)
print(type(e))

range(0, 5)
<class 'range'>

In [ ]:
#dictionary
r={'Name': 'Aditi', 'age': 17, 'phone number': 123456789}
print(r)
print(type(r))

{'Name': 'Aditi', 'age': 17, 'phone number': 123456789}
<class 'dict'>

In [ ]:
#set
u={'meow', 'unicorn', 'vamp', 'witch', 'shifter'}
print(u)
print(type(u))

{'unicorn', 'shifter', 'meow', 'witch', 'vamp'}
<class 'set'>

In [ ]:
#frozenset
p={'door','window', 'chair', 'table','phone'}
print(p)
print(type(p))

{'table', 'window', 'phone', 'door', 'chair'}
<class 'set'>

In [ ]:
#boolean
x=True
y=False
print(x,"\n",y)
print(type(x))

True
 False
<class 'bool'>

In [ ]:
#bytes
w=b"hi"
print(w)
print(type(w))

b'hi'
<class 'bytes'>

In [ ]:
#bytearray
x=bytearray(9)
print(x)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [ ]:
def add():

  a=23
  b=32
  c=a+b
  print(c)
add()

add()
add()

55
55
55

In [ ]:
#memoryview
y=memoryview(bytes(100))
print(y)

<memory at 0x7feff9c8a940>

In [ ]:
#NoneType
x=None
print(x)

None

In [ ]:
#exponential
q=19e14
w=33e100
r=68E2
print(q)
print(w,r)

1900000000000000.0
3.3e+101 6800.0

In [ ]:
# using random libraray along with randrange function which will generate any random value
import random
print(random.randrange(9,99))

23

In [ ]:
#MultilineStrings
#three double quotes are used here
a="""Hi I'm Kat
I was a human once surving this infected world of 2099
I lived and grew up in a cave near the Andorra Sector
Until I was kiddnapped by the wolfs of Andorra Sector
My life turned upside down when they changed me into a shifter"""
print(a)

Hi I'm Kat
I was a human once surving this infected world of 2099
I lived and grew up in a cave near the Andorra Sector
Until I was kiddnapped by the wolfs of Andorra Sector
My life turned upside down when they changed me into a shifter

In [ ]:
#Strings Arrays
b="AditiPatel"
print(b[2])

i

In [ ]:
#Looping through a string
for x in "Vampire":
  print(x)

V
a
m
p
i
r
e

In [ ]:
#String length
p="Purple Hearts"
print(len(p))

13

In [ ]:
#Check String
h="Harry Potter in the chosen one"
print("chosen" in h)
print("Hermione" in h)

True
False

In [ ]:
#Check not String
p="Hermione is a bookworm"
print("Granger" not in p)
print("bookworm" not in p)

True
False

In [ ]:
#If function- Check String
s="No scars to your beautiful"
if "scars" in s:
  print("There's a hope that's waiting for you in the dark")

There's a hope that's waiting for you in the dark

In [ ]:
#Check If NOT
u="You betrayed me"
if "sorry" not in u:
  print("You're still a traitor")

You're still a traitor

In [ ]:
#Slicing
t="I'm a swiftie"
print(t[0:])
print(t[-1])
print(t[0:-1])
print(t[6:])
print(t[0:2])
print(t[6:11])
print(t[-5:-2])

I'm a swiftie
e
I'm a swifti
swiftie
I'
swift
ift

In [ ]:
#Modify Strings- Upper case
q="Happy birthday Omi"
print(q.upper())

HAPPY BIRTHDAY OMI

In [ ]:
#Modify Strings- Lower case
e="MEOW"
print(e.lower())

meow

In [ ]:
#Modify strings- Remove Whitespace
w="                Shello HI                    "                      
print(w.strip())

Shello HI

In [ ]:
#Modify Strings- Replace String
o="Batman"
print(o.replace("B","C"))

Catman

In [ ]:
#Modify Strings- Split String
i="She sells sea shells"
print(i.split("s"))

['She ', 'ell', ' ', 'ea ', 'hell', '']

In [ ]:
#Split String
d="she a she be she go she met"
print(d.split("she"))

['', ' a ', ' be ', ' go ', ' met']

In [ ]:
#Concanatenation
a="cherry"
b="berry"
c= a+b
print(c)

cherryberry

In [ ]:
#Format String
age=17
t="My name is Aditi and i am {}."
print(t.format(age))

My name is Aditi and i am 17.

In [ ]:
#Format Strings
a=3
b="apples"
c=7
d="I want {} kg {} till {} pm."
print(d.format(a,b,c))

I want 3 kg apples till 7 pm.

In [ ]:
#Format Strings
a="cherry"
b=9
c=5
d="I want {2} kg {0} till {1} am."
print(d.format(a,b,c))

I want 5 kg cherry till 9 am.

In [ ]:
#Escape Character
p="Vampires \"sparkel\" in sunlight."
print(p)

Vampires "sparkel" in sunlight.

In [ ]:
#Escape Characters- Single Quotes
p="Whatchya doin\'?"
print(p)

Whatchya doin'?

In [ ]:
#Escape Character- Backslash
q="Apple\\banana\\pineapple\\cherry"
print(q)

Apple\banana\pineapple\cherry

In [ ]:
#Escape Character- New Line
p="pink \npurple"
print(p)

pink
purple

In [ ]:
#Escape Character-tab
p="omi\tpatel"
print(p)

omi	patel

In [ ]:
#Escape Character- Backspace
p="Omi \bPatel"
print(p)

Omi Patel

In [ ]:
#String Methods- capitalize() {Converts the first character to upper case}
q="omi is MAD."
print(q.capitalize())

Omi is mad.

In [ ]:
#String Methods- casefold() {Converts string into lower case}
p="Omi is MAD."
print(p.casefold())

omi is mad.

In [ ]:
#String Method- center() {Returns a centered string}
a="sparkles"
print(a.center(100))
b="happybirthday"
print(b.center(50,"i"))

                                              sparkles
iiiiiiiiiiiiiiiiiihappybirthdayiiiiiiiiiiiiiiiiiii

In [ ]:
#String Method- count() {Returns the number of times a specified value occurs in a string}
x="I hate dark chocolate, they're so biter they don't deserve to be called chocolate."
print(x.count("chocolate"))
print(x.count("they", 20, 30))

2
1

In [ ]:
#String Method- encode()
e="My name is åditi, not Ståle, not ḿenali"
print(e.encode())

b'My name is \xc3\xa5diti, not St\xc3\xa5le, not \xe1\xb8\xbfenali'

In [ ]:
#String Method- endswith()
e="It ends with us"
print(e.endswith("us"))
print(e.endswith("."))
print(e.endswith("with",5,12))

True
False
True

In [ ]:
#String Method- startswith()
#method returns True if the string starts with the specified value, otherwise False
s="It starts with us"
print(s.startswith("It"))
print(s.startswith("us"))
print(s.startswith("starts", 3,18))

True
False
True

In [ ]:
#String Method- expandtabs() {Sets the tab size of the string}
p="w\to\tl\tf"
print(p.expandtabs(5))

w    o    l    f

In [ ]:
#Revision
w="Hello world"
print(w[2:10])
print(w.upper())
p="H{}e{}l{}l{}o"
o="/"
print(p.format(o,o,o,o))

llo worl
HELLO WORLD
H/e/l/l/o

In [ ]:
#String Method- find() {finds the first occurrence of the specified value.}
#The find() method returns -1 if the value is not found.
#The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.
a="I heart purple"
print(a.find("p",9,20))
print(a[8])
print(a.find("e", 5, 9))

11
p
-1

In [ ]:
#String Method- format()
#The format() method formats the specified value(s) and insert them inside the string's placeholder.
#The placeholder is defined using curly brackets: {}. 
p="For only {price:6f} rupees!"
print(p.format(price=99))

For only 99.000000 rupees!

In [ ]:
#Format types- :< {Left aligns}
a="I have {:<8} candies"
print(a.format(10))

I have 10       candies

In [ ]:
#Format types- :> {Right aligns}
a="I have {:>8} candies"
print(a.format(12))

I have       12 candies

In [ ]:
#Format types- :^ {Center aligns}
a="I have {:^10} candies"
print(a.format(3))

I have     3      candies

In [ ]:
#Format types- := {Places the plus/minus sign to the left most position}
a="The temperature is {:=10} farhenite."
print(a.format(-22))

The temperature is -       22 farhenite.

In [ ]:
#Format types- :+ {Use a plus sign to indicate if the result is positive or negative}
a="Cordinates to the x axis is {:+} and y axis {:+}"
print(a.format(3,-8))

Cordinates to the x axis is +3 and y axis -8

In [ ]:
#Format types- :- {Use a minus sign for negative values only}
a="Cordinates to the x axis is {:-} and y axis {:-}."
print(a.format(-5,+5))

Cordinates to the x axis is -5 and y axis 5.

In [ ]:
#Format types- :, {Use a comma as a thousand separator}
v="I am a {:,} years old vampire."
print(v.format(1200000400))

I am a 1,200,000,400 years old vampire.

In [ ]:
#Format types- :_ {Use a underscore as a thousand separator}
v="I am a {:_} years old vampire."
print(v.format(120000000000000000498))

I am a 120_000_000_000_000_000_498 years old vampire.

In [ ]:
#Format types- :b {Binary format}
p="The binary version of {0} is {0:b}"
print(p.format(2233))

The binary version of 2233 is 100010111001

In [ ]:
#Format types- :c {Converts the value into the corresponding unicode character}
o="Are you ready {:c}"
print(o.format(4489))

Are you ready ᆉ

In [ ]:
#Format types- :f {Fix point number format}
p="That is {:.2f}"
print(p.format(58))

That is 58.00

In [ ]:
#Format types- :F {Fix point number format, in uppercase format (show inf and nan as INF and NAN)}
#INF is infinity and NAN is nil or zero
x=float("inf")
y=float("NAN")
p="This is {:F}"
q="This is {:f}"
print(p.format(x))
print(q.format(y))

This is INF
This is nan

In [ ]:
#Format Type- :g {General format}
g="that is {:g}"
print(g.format(8900.096888))

that is 8900.1

In [ ]:
#String Method- index()
#finds the first occurrence of the specified value.
#raises an exception if the value is not found
w="Just keep swimming."
print(w.index("k"))

5

In [ ]:
#String Method- isalnum()
#The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
#Example of characters that are not alphanumeric: (space)!#%&? etc.
q="qwq75"
e="meow 12"
print(q.isalnum())
print(e.isalnum())

True
False

In [ ]:
#String Method- isalpha()
#The isalpha() method returns True if all the characters are alphabet letters (a-z).
#Example of characters that are not alphabet letters: (space)!#%&? etc.
q="qwq"
p="qwq12"
o="uwu 1"
print(q.isalpha())
print(p.isalpha())
print(o.isalpha())

True
False
False

In [ ]:
#Stings Method- isdecimal()
p="6.7"
q="23w"
a="\u0033" #unicode for 3
w="-34"
c="55"
print(p.isdecimal())
print(q.isdecimal())
print(a.isdecimal())
print(w.isdecimal())
print(c.isdecimal())

False
False
True
False
True

In [ ]:
#String Method- isascii()
q="qwq@123!"
print(q.isascii())

True

In [ ]:
#String Method- isdigit()
#The isdigit() method returns True if all the characters are digits, otherwise False.
#Exponents, like ², are also considered to be a digit.
a="23328"
b="\u00B2" ##unicode for ²
c="²"
d="2.5"
e="-34"
print(a.isdigit())
print(b.isdigit())
print(c.isdigit())
print(d.isdigit())
print(e.isdigit())

True
True
True
False
False

In [ ]:
#String Method- isidentifier()
#A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.
a="qwq"
b="owo12"
c="uwu 3"
d="4kk"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [ ]:
#StringMethod- islower() and isupper()
a="uwu"
b="UwU"
c="UWU"
print(a.islower())
print(b.islower())
print(a.isupper())
print(b.isupper())
print(c.isupper())

True
False
False
False
True

In [ ]:
#String Method- isnumeric()
#The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.
#Exponents, like ² and ¾ are also considered to be numeric values.
#"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.
a="12"
b="3¾"
print(a.isnumeric())
print(b.isnumeric())

True
True

In [ ]:
#String Method- isprintable()
#none printable character can be carriage return and line feed.
a="qwq 123"
b="qwq\n owo"
print(a.isprintable())
print(b.isprintable())

True
False

In [ ]:
#String Method- isspace()
a= "          "
b="    .          "
print(a.isspace())
print(b.isspace())

True
False

In [ ]:
#String Method- istitle()
a="Hello Kitty"
b="Hello kitty"
c="hello"
d="22 Hello"
e="HELLO KITTY"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())
print(e.istitle())

True
False
False
True
False

In [ ]:
#String Method- isupper()
#True if all the characters are in upper case, otherwise False.
a="Hello"
b="HELLO"
c="22HELLO"
print(a.isupper())
print(b.isupper())
print(c.isupper())

False
True
True

In [ ]:
#String Method- join()
#takes all items in an iterable and joins them into one string.
a=("Lily","Violet","Sunflower") #tuple
b="Flower ".join(a)
print(b)
#joing the keys of key value pair in dictionary
x={'name':'Omi', 'class':8}
y='and'.join(x)
print(y)

LilyFlower VioletFlower Sunflower
nameandclass

In [ ]:
#String Method- ljust() {Returns a left justified version of the string}
a="Vampires"
print(a.ljust(45,"@"), "sparkle in the sun.")

Vampires@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ sparkle in the sun.

In [ ]:
#String Method- lower()
# returns a string where all characters are lower case.
q="SCREEEEEEEEEEEeeeeeeeeeeeeeeeEEEEEEEEEEEeeeeeeeeeeeeEEEEEEEEEEEEEEE"
print(q.lower())

screeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee

In [ ]:
#String Method- lstrip()
#Remove spaces to the left of the string
w="                                    star        "
print("sparkling",w.lstrip(),"twinkling")
o="qqqqqqqqqqqqqqqqwwwwwwwwwwwwwqqqqqqqqqqqqqqqq"
print(o.lstrip("q"))

sparkling star         twinkling
wwwwwwwwwwwwwqqqqqqqqqqqqqqqq

In [ ]:
#String Method- rstrip()
w="                                    star                   "
o="qqqqqqqqqqqqqqqqwwwwwwwwwwwwwqqqqqqqqqqqqqqqq"
print("sparkling",w.rstrip(),"twinkling")
print(o.rstrip("q"))

sparkling                                     star twinkling
qqqqqqqqqqqqqqqqwwwwwwwwwwwww

In [ ]:
#String Method- strip()
#removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)
w="                                    star                   "
print(w.strip())
o=",,,,,,,,,,,,,,,,qqqqqqqqqqqqqqqqwwwwwwwwwwwwwqqqqqqqqqqqqqqqq..............."
print(o.strip(",q."))

star
wwwwwwwwwwwww

In [ ]:
#String Method- maketrans()and translate()
#The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.
p="Hello Cam"
e=p.maketrans("m","p")
print(p.translate(e))

Hello Cap

In [ ]:
#String Method- maketrans()
#Use a mapping table to replace many characters
x="mCa"
y="eEv"
w=p.maketrans(x,y)
print(p.translate(w))

Hello Eve

In [ ]:
#String Method- maketrans()
#The third parameter in the mapping table describes characters that you want to remove from the string
z="ello"
g=p.maketrans(x,y,z)
print(p.translate(g))

H Eve

In [ ]:
#String Method- maketrans()
#The maketrans() method itself returns a dictionary describing each replacement, in unicode
print(p.maketrans(x,y,z))

{109: 101, 67: 69, 97: 118, 101: None, 108: None, 111: None}

In [ ]:
#String Method- partition()
#Returns a tuple where the string is parted into three parts
w="Good 4 u"
print(w.partition("4"))
print(w.partition("meow"))

('Good ', '4', ' u')
('Good 4 u', '', '')

In [ ]:
#String Method- rpartition()
print(w.rpartition("4"))
print(w.rpartition("meow"))

('Good ', '4', ' u')
('', '', 'Good 4 u')

In [ ]:
#String Method- replace()
#Returns a string where a specified value is replaced with a specified value
print(w.replace("u", "chu"))
e="1 2 ka 4, 4 2 ka 1"
print(e.replace("1", "5"))
print(e.replace("1", "9", 1))

Good 4 chu
5 2 ka 4, 4 2 ka 5
9 2 ka 4, 4 2 ka 1

In [ ]:
#String Method- rfind()
#finds the last occurrence of the specified value.
#returns -1 if the value is not found.
#The rfind() method is almost the same as the rindex() method.
v="Vampires can translocate"
print(v.rfind("pi", 1, 5))
print(v.rfind("q"))
#print(v.rindex("q")) shows error

3
-1

In [ ]:
#String Method- rjust()
#Returns a right justified version of the string
u="unicorn are cute."
print(u.rjust(45))
print(u.rjust(45,"@"))

                            unicorn are cute.
@@@@@@@@@@@@@@@@@@@@@@@@@@@@unicorn are cute.

In [ ]:
#String Method- rsplit()
print(u.rsplit(" "))
print(u.rsplit(" ",1))

['unicorn', 'are', 'cute.']
['unicorn are', 'cute.']

In [ ]:
#String Method- split()
u="Unicorns, the magical creatures, in fiction world."
print(u.split())
print(u.split(", "))
w="Fae#are#lethal#beings."
print(w.split("#"))

['Unicorns,', 'the', 'magical', 'creatures,', 'in', 'fiction', 'world.']
['Unicorns', 'the magical creatures', 'in fiction world.']
['Fae', 'are', 'lethal', 'beings.']

In [ ]:
#String Method- splitlines()
#Splits the string at line breaks and returns a list
p="Queen Mary of Scotts\nand\n Queen Elisabeth I of England\n are rivals."
print(p.splitlines())
print(p.splitlines(True)) #True- keeps the line breaks
print(p.splitlines(False)) #it's default

['Queen Mary of Scotts', 'and', ' Queen Elisabeth I of England', ' are rivals.']
['Queen Mary of Scotts\n', 'and\n', ' Queen Elisabeth I of England\n', ' are rivals.']
['Queen Mary of Scotts', 'and', ' Queen Elisabeth I of England', ' are rivals.']

In [ ]:
#String Method- swapcase()
#Swaps cases, lower case becomes upper case and vice versa
p="Long may she REIGN."
print(p.swapcase())

lONG MAY SHE reign.

In [ ]:
#String Method- title()
#Converts the first character of each word to upper case
m="There's so many ways to be wicked"
print(m.title())
#Note that the first letter after a non-alphabet letter is converted into a upper case letter
w="hello b2b2b2 and 3g3g3g"
print(w.title())

There'S So Many Ways To Be Wicked
Hello B2B2B2 And 3G3G3G

In [ ]:
#String Method- zfill()
#Fills the string with a specified number of 0 values at the beginning
a="70"
b="Vampire"
c="12.004"
print(a.zfill(12))
print(b.zfill(12))
print(c.zfill(10))

000000000070
00000Vampire
000012.004

In [ ]:
#Python Indentation()
#Indentation refers to the spaces at the beginning of a code line.
if 9>4:
  print("meow")
  print("meow") 
#            print("meow") doesn't work
#You have to use the same number of spaces in the same block of code
if 7>2:
            print("meeeeeeeeeeeew")

meow
meow
meeeeeeeeeeeew

In [ ]:
"""multiple
line
comment"""

'multiple\nline\ncomment'

In [ ]:
#Booleans- {Booleans represent one of two values: True or False.}
print(12>3)
print(13>=5)
print(4==4)
print(3==6)
#print(1=4) doesn't work
print(1<3)
print(13<=5)

True
True
True
False
True
False

In [ ]:
#Booleans
a=70
b=12
if a > b:
  print("meow")
else:
  print("nu")

meow

In [ ]:
#Booleans (True)
#Almost any value is evaluated to True if it has some sort of content.
#Any string is True, except empty strings.
#Any number is True, except 0.
#Any list, tuple, set, and dictionary are True, except empty ones.
print(bool(12))
print(bool("mew"))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [ ]:
#Booleans (False)
#In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [ ]:
#Python Arithmetic Operators
a=100
b=5
c=3
print(a+b) #addition
print(a-b) #substraction
print(a*b) #multiplication
print(a/b) #division
print(a%b) #modulus (i.e. reminder in division)
print(a**b) #exponentiation
print(a//b) #floor division
print(a//c) #floor division (rounds the result down to the nearest whole number)

105
95
500
20.0
0
10000000000
20
33

In [ ]:
#Python Assignment Operators
x=10 #"="
print(x)
x+=2 #"+=" (x=x+2)
print(x)
x-=5 #"-=" (x=x-2)
print(x)
x*=2 #"*=" (x=x*2)
print(x)
x/=2 #"/=" (x=x/2)
print(x)
x%=3 #"*%=" (x=x%3)
print(x)
x=10
x//=3 #"//=" (x=x//3)
print(x)
x**=2 #"**=" (x=x**2)
print(x)

10
12
7
14
7.0
1.0
3
9

In [ ]:
#Python Comparison Operators
x=5
y=4
z=5
print(x==y) #Equal
print(x==z) 
print(x!=y) #Not Equal
print(x>y) #Greater than
print(x<y) #Less Than
print(x>=y) #Greater than or equal to
print(x<=y) #Less than or equal to
print(x>=z)
print(x<=z)

False
True
True
True
False
True
False
True
True

In [ ]:
#Python Logical Operators
x=5
print(x > 3 and x < 10) #and
print(x > 3 or x < 10) #or
print(not(x > 3 and x < 10)) #not

True
True
False

In [ ]:
#Python Identity Operators
x="Vampire"
y="Vampire"
x=z
print(x is y)
print(x is z)
print(x==y)
print(x is not y)
print(x is not z)

False
True
False
True
False

In [ ]:
#Python Membership Operators
x=["apple","cherry","strawberry"]
print("cherry" in x)
print("berry" in x)
print("berry" not in x)

True
False
True

In [ ]:
#Python Bitwise Operators
#& AND	Sets each bit to 1 if both bits are 1
# | OR	Sets each bit to 1 if one of two bits is 1
# ^	XOR	Sets each bit to 1 if only one of two bits is 1
#~ 	NOT	Inverts all the bits
#<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
#>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [ ]:
#Lists-Allow Duplicates
x=["apple","cherry","strawberry","apple"]
print(x)
#List Length
print(len(x))
#A list with strings, integers and boolean values:
y=["meow", 4 , True, 23]
print(y)

['apple', 'cherry', 'strawberry', 'apple']
4
['meow', 4, True, 23]

In [ ]:
#list() constructor
z=list(("apple","cat", 18, 65, "meow"))
print(z)

['apple', 'cat', 18, 65, 'meow']

In [ ]:
#Access List Items
print(z[1])

cat

In [ ]:
#Negative Indexing
print(z[-4])

cat

In [ ]:
#Range of Indexes
#The search will start at index 2 (included) and end at index 5 (not included).
print(z[2:5])
print(z[:3])
print(z[2:])

[18, 65, 'meow']
['apple', 'cat', 18]
[18, 65, 'meow']

In [ ]:
#Range of Negative Indexes
print(z[-5:-2])

['apple', 'cat', 18]

In [ ]:
#Check if Item Exists
p=["Vamps", "fae","angels","shifters","Maze","shifter"]
if "fae" in p:
  print("Supes!")

Supes!

In [ ]:
#Change Item Value
p[4]="Witches"
print(p)

['Vamps', 'fae', 'angels', 'shifters', 'Witches', 'shifter']

In [ ]:
#Change a Range of Item Values
w=[0,1,2,3,4,5,6,7,8]
w[2:6]=['a','b','c','m','n']
print(w)
w[2:8]=["meow"]
print(w)
#The length of the list will change when the number of items inserted does not match the number of items replaced.

[0, 1, 'a', 'b', 'c', 'm', 'n', 6, 7, 8]
[0, 1, 'meow', 7, 8]

In [ ]:
#Insert Items
w.insert(1,"mew")
w.insert(5,"UwU")
print(w)

[0, 'mew', 1, 'meow', 7, 'UwU', 8]

In [ ]:
#Append Items
w.append("OwO")
print(w)

[0, 'mew', 1, 'meow', 7, 'UwU', 8, 'OwO']

In [ ]:
#Extend List
#To append elements from another list to the current list, use the extend() method.
p.extend(w)
print(p)

['Vamps', 'fae', 'angels', 'shifters', 'Maze', 'shifter', 0, 1, 'meow', 7, 8]

In [ ]:
#Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
#Remove Specified Item
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'kiwi', 'orange']

In [ ]:
#Remove Specified Index- pop()
thislist.pop(2)
print(thislist)
#If you do not specify the index, the pop() method removes the last item.
thislist.pop()
print(thislist)
#The del keyword also removes the specified index
t = ["apple", "banana", "cherry"]
del t[0]
print(t)
#The del keyword can also delete the list completely.
del thislist
#print(thislist) will show error becaue "thislist" is deleted.

['apple', 'cherry', 'orange']
['apple', 'cherry']
['banana', 'cherry']

In [ ]:
#Clear the List
t.clear()
print(t)

[]

In [ ]:
#Loop Through a List
for x in p:
  print(x)

Vamps
fae
angels
shifters
Maze
shifter
0
1
meow
7
8

In [ ]:
#Loop Through the Index Numbers
for i in range(len(p)):
  print(p[i])

Vamps
fae
angels
shifters
Maze
shifter
0
1
meow
7
8

In [ ]:
#Using a While Loop
t = ["apple", "banana", "cherry"]
i=0
while i< len(t):
  print(t[i])
  i=i+1
print("")
x=2
while x< len(t):
  print(t[x])
  x=x+1

apple
banana
cherry

cherry

In [ ]:
#Looping Using List Comprehension
#List Comprehension offers the shortest syntax for looping through lists:
[print(w) for w in t]

apple
banana
cherry

[None, None, None]

In [ ]:
#Without List Comprehension
s = ["apple", "banana", "cherry", "kiwi", "mango"]
k=[]
for x in s:
  if "a" in x:
    k.append(x)
print(k)

['apple', 'banana', 'mango']

In [ ]:
#With List Comprehension
k=[x for x in s if "a" in x]
print(k)

['apple', 'banana', 'mango']

In [ ]:
#Condition
k=[x for x in s if x !="kiwi"]
print(k)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
#With no if statement
k=[x for x in s]
print(k)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#Iterable
k=[x for x in range(11)]
print(k)
n=[x for x in range(11) if x>5]
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]

In [ ]:
#Expression 
k=[x.upper() for x in s]
print(k)
n=['UwU' for x in s]
print(n)
u=[x if x != "kiwi" else "strawbwerry" for x in s] #Return the item if it is not kiwi, if it is kiwi return strawberry.
print(u)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['UwU', 'UwU', 'UwU', 'UwU', 'UwU']
['apple', 'banana', 'cherry', 'strawbwerry', 'mango']

In [ ]:
#Sort List Alphanumerically
x=['d','f','a','p','z','c','u','e']
x.sort()
print(x)
y=[6,2,9,4,1,8,3,0,5]
y.sort()
print(y)

['a', 'c', 'd', 'e', 'f', 'p', 'u', 'z']
[0, 1, 2, 3, 4, 5, 6, 8, 9]

In [ ]:
#Sort Descending: (reverse = True)
x.sort(reverse= True)
print(x)
y.sort(reverse=True)
print(y)

['z', 'u', 'p', 'f', 'e', 'd', 'c', 'a']
[9, 8, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#Customize Sort Function: (key = function)
#you can use anything instead of the word function
def f(n):
  return abs(n-4)
y=[6,2,9,4,1,8,3,0,5]
y.sort(key=f)
print(y)

[4, 3, 5, 6, 2, 1, 8, 0, 9]

In [ ]:
#Case Insensitive Sort
#By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters
l = ["banana", "Orange", "KIWI", "CheRRY"]
l.sort()
print(l)
#Perform a case-insensitive sort of the list
l.sort(key=str.lower)
print(l)

['CheRRY', 'KIWI', 'Orange', 'banana']
['banana', 'CheRRY', 'KIWI', 'Orange']

In [ ]:
#Reverse Order: reverse()
#Reverse the order of the list items
l = ["banana", "Orange", "KIWI", "CheRRY"]
l.reverse()
print(l)

['CheRRY', 'KIWI', 'Orange', 'banana']

In [ ]:
#Copy Lists
j=l.copy()
print(j)
i=list(l) #method2
print(i)

['CheRRY', 'KIWI', 'Orange', 'banana']
['CheRRY', 'KIWI', 'Orange', 'banana']

In [ ]:
#Join Two Lists
u=j+i
print(u)
z=x+y
print(z)
for w in y: #method2
  x.append(w)
print(x)
x.extend(y) #method3
print(x)

['CheRRY', 'KIWI', 'Orange', 'banana', 'CheRRY', 'KIWI', 'Orange', 'banana']
['a', 'c', 'd', 'e', 'f', 'p', 'u', 'z', 0, 1, 2, 3, 4, 5, 6, 8, 9, 0, 1, 2, 3, 4, 5, 6, 8, 9]
['a', 'c', 'd', 'e', 'f', 'p', 'u', 'z', 0, 1, 2, 3, 4, 5, 6, 8, 9, 0, 1, 2, 3, 4, 5, 6, 8, 9]
['a', 'c', 'd', 'e', 'f', 'p', 'u', 'z', 0, 1, 2, 3, 4, 5, 6, 8, 9, 0, 1, 2, 3, 4, 5, 6, 8, 9, 0, 1, 2, 3, 4, 5, 6, 8, 9]

In [ ]:
#pop()
#The pop() method removes the element at the specified position.
l = ["banana", "Orange", "KIWI", "CheRRY"]
l.pop()
print(l)
l.pop(1)
print(l)

['banana', 'Orange', 'KIWI']
['banana', 'KIWI']

#List Methods
1. append()	Adds an element at the end of the list
2. clear()	Removes all the elements from the list
3. copy()	Returns a copy of the list
4. count()	Returns the number of elements with the specified value
5. extend()	Add the elements of a list (or any iterable), to  the end of the current list
6. index()	Returns the index of the first element with the specified value
7. insert()	Adds an element at the specified position
8. pop()	Removes the element at the specified position
9. remove()	Removes the item with the specified value
10. reverse()	Reverses the order of the list
11. sort()	Sorts the list

In [ ]:
#Tuple
t=("cat", "UwU", "meow", "Vamp")
print(t)
print(len(t))
#Tuple items are ordered, unchangeable, and allow duplicate values.
#Tuples are ordered, it means that the items have a defined order.
#Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
t4=("mew",3,True,86,False,"Evie") #Tuple with different data types
print(t4)
#The tuple() Constructor
t3=tuple((4,5,6,7,9))
print(t3)

('cat', 'UwU', 'meow', 'Vamp')
4
('mew', 3, True, 86, False, 'Evie')
(4, 5, 6, 7, 9)

In [ ]:
#Tuple With One Item
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
t1=("UwU",)
print(t1)
print(type(t1))
t2=("mew") #not a tuple
print(type(t2))

('UwU',)
<class 'tuple'>
<class 'str'>

#Python Collections (Arrays)
There are four collection data types in the Python programming language:

1.**List** is a collection which is ordered and changeable. Allows duplicate members.

2.**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

3.**Set** is a collection which is unordered, unchangeable*, and unindexed.No duplicate members.

4.**Dictionary** is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
#Access Tuple Items
t=("cat", "UwU", "meow", "Vamp")
print(t[2])
print(t[-1]) #Access Tuple Items
print(t[1:3]) #Range of Indexes
print(t[:2])
print(t[2:])
print(t[-4:-2]) #Range of Negative Indexes
#Check if Item Exists
if "UwU" in t:
  print("qwq")

meow
Vamp
('UwU', 'meow')
('cat', 'UwU')
('meow', 'Vamp')
('cat', 'UwU')
qwq

In [ ]:
#Change Tuple Values
#Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
#But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.
t5=list(t)
t5[1]="qwq"
t=tuple(t5)
print(t)

('UwU', 'qwq', 'Vamp', '@w@', 'Cherry', '@w@', 'Cherry')

In [ ]:
#Tuple:Add Items
#method1:Convert into a list
w=list(t)
w.append("@w@")
t=tuple(w)
print(t)
#method2:Add tuple to a tuple
w=("Cherry",)
t +=w
print(t)

('UwU', 'meow', 'Vamp', '@w@', 'Cherry', '@w@')
('UwU', 'meow', 'Vamp', '@w@', 'Cherry', '@w@', 'Cherry')

In [ ]:
#Tuple:Remove Items
y=list(t)
y.remove("cat")
t=tuple(y)
print(t)

('UwU', 'meow', 'Vamp', '@w@', 'Cherry')

In [ ]:
#Delete Tuple
#The del keyword can delete the tuple completely
del(t4)
#print(t4) # won't be printed cause it's deleted

![Screenshot 2022-09-01 083741.png]()

In [ ]:
#Packing a Tuple
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple.
s = ("apple", "banana", "cherry")
print(s)

('apple', 'banana', 'cherry')

In [ ]:
#Unpacking a Tuple
#we are also allowed to extract the values back into variables. This is called "unpacking"
(a,b,c) = s
print(a)
print(c)
print(c)

apple
cherry
cherry

In [ ]:
#Using Asterisk*
#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:
p=("meow","UwU", "fae", "Vamp", "werewolf", "QwQ")
(a,*b,c) = p
print(a)
print(b)
print(c)

meow
['UwU', 'fae', 'Vamp', 'werewolf']
QwQ

In [ ]:
#Loop Through a Tuple
for x in p:
  print(x)

meow
UwU
fae
Vamp
werewolf
QwQ

In [ ]:
#Loop Through the Index Numbers
for x in range(len(p)):
  print(p[x])

meow
UwU
fae
Vamp
werewolf
QwQ

In [ ]:
#Using a While Loop
i=0
while i<len(p):
  print(p[i])
  i=i+1

meow
UwU
fae
Vamp
werewolf
QwQ

In [ ]:
#Join Two Tuples
sum=s+p
print(sum)

('apple', 'banana', 'cherry', 'meow', 'UwU', 'fae', 'Vamp', 'werewolf', 'QwQ')

In [ ]:
#Multiply Tuples
w=p*3
print(w)

('meow', 'UwU', 'fae', 'Vamp', 'werewolf', 'QwQ', 'meow', 'UwU', 'fae', 'Vamp', 'werewolf', 'QwQ', 'meow', 'UwU', 'fae', 'Vamp', 'werewolf', 'QwQ')

In [ ]:
#Python Tuple Methods: count() and index()
#count() {Returns the number of times a specified value occurs in a tuple}
x=w.count('UwU')
print(x)
#index() {Searches the tuple for a specified value and returns the position of where it was found}
y=s.index("cherry")
print(y)

3
2

In [ ]:
#Set (Unordered, Unchangable)
p={"UwU", "qwq", "meow","uvu"}
print(p)
#Duplicates Not Allowed
q={1,2,2,1,3,4,4,3,2,1}
print(q)
#Get the Length of a Set
print(len(p))
#Set items can be of any data type
#A set can contain different data types 
e={17,True,"Evie"}
print(e)
#The set() Constructor
r=set(("UwU","qwq"))
print(r)

{'uvu', 'meow', 'qwq', 'UwU'}
{1, 2, 3, 4}
4
{17, True, 'Evie'}
{'qwq', 'UwU'}

In [ ]:
#Acess Set Items
#You cannot access items in a set by referring to an index or a key.
#But you can loop through the set items using a for loop.
for x in p:
  print(x)
#Check if "meow" is present in the set:
print("meow" in p)
print("banana" in p)

UwU
qwq
uvu
meow
True
False

In [ ]:
#Add Items: add()
p.add("kitty")
print(p)
#Add Sets
p.update(e)
print(p)
#Add Any Iterable
s=["cherry","cherry","cherry","bon","bon","cheeeerryyyyyyyyy"]
p.update(s)
print(p)

{'uvu', 'qwq', 'kitty', 'meow', 'UwU'}
{True, 'uvu', 'qwq', 'kitty', 'meow', 17, 'UwU', 'Evie'}
{True, 'bon', 'uvu', 'cherry', 'qwq', 'cheeeerryyyyyyyyy', 'kitty', 'meow', 17, 'UwU', 'Evie'}

In [ ]:
#Remove Set Items
#Remove Item
#To remove an item in a set, use the remove(), or the discard() method.
# If the item to remove does not exist, remove() will raise an error.
p.remove(True)
print(p)
#If the item to remove does not exist, discard() will NOT raise an error.
p.discard("qwq")
print(p)

{'bon', 'uvu', 'cherry', 'qwq', 'cheeeerryyyyyyyyy', 'kitty', 'meow', 17, 'UwU', 'Evie'}
{'bon', 'uvu', 'cherry', 'cheeeerryyyyyyyyy', 'kitty', 'meow', 17, 'UwU', 'Evie'}

In [ ]:
#Remove Set Items
#Remove the last item by using the pop() method:
#Sets are unordered, so when using the pop() method, you do not know which item that gets removed.
p={"UwU", "qwq", "meow","uvu"}
x=p.pop()
print(x) #removed item
print(p) #the set after removal
w=["Aditi","Menali","Omi"]
print(w.pop())
print(w)
#clear() method 
w.clear()
print(w)
del(w)  #del keyword will delete the set completely #this will raise an error because the set no longer exists

meow
{'UwU', 'qwq', 'uvu'}
Omi
['Aditi', 'Menali']
[]

In [ ]:
#Loop Sets #Loop Items
for x in p:
  print(x)

UwU
qwq
uvu

In [ ]:
#Join Two Sets
#union() method returns a new set with all items from both sets:
x=p.union(e)
print(x)
#update() method inserts the items in set2 into set1
q.update(p)
print(q)
#Both union() and update() will exclude any duplicate items.

{1, 2, 3, 4, 'meow', 'qwq', 17, 'UwU', 'Evie', 'uvu'}
{1, 2, 3, 4, 'meow', 'qwq', 'UwU', 'uvu'}

In [ ]:
#Keep ONLY the Duplicates
#intersection_update() method
x.intersection_update(q)
print(x)
#Both only contains the items that are present in both sets
#intersection() [will return a new set]
y=x.intersection(q)
print(y)

{1, 2, 3, 4, 'meow', 'qwq', 'UwU', 'uvu'}
{1, 2, 3, 4, 'meow', 'qwq', 'UwU', 'uvu'}

In [ ]:
#Keep All, But NOT the Duplicates
#symmetric_difference_update() method
x={1, 2, 3, 4, 'meow', 'qwq', 17, 'UwU', 'Evie', 'uvu'}
x.symmetric_difference_update(q)
print(x)
#symmetric_difference() method [will return a new set]
x={1, 2, 3, 4, 'meow', 'qwq', 17, 'UwU', 'Evie', 'uvu'}
y=x.symmetric_difference(q)
print(y)

{17, 'Evie'}
{17, 'Evie'}

In [ ]:
#isdisjoint() Method
#Returns whether two sets have a intersection or not
p={"UwU", "qwq", "meow","uvu"}
e={17,True,"Evie"}
r=set(("UwU","qwq"))
z=p.isdisjoint(e)
print(z)
z1=p.isdisjoint(r)
print(z1)

True
False

In [ ]:
#issubset() Method
#Returns whether another set contains this set or not
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z=x.issubset(y)
print(z)
#Return False if not all items in set x are present in set y
y = {"f", "e", "d", "c", "b"}
z1=x.issubset(y)
print(z1)

True
True

In [ ]:
#issuperset() Method
#Returns whether this set contains another set or not
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z=x.issuperset(y)
print(z)
#Return False if not all items in set y are present in set x
x = {"f", "e", "d", "c", "b"}
z1=x.issuperset(y)
print(z1)

True
False

#Python Set Methods

1. ***add()*** Adds an element to the set

2. ***clear()***	Removes all the elements from the set

3. ***copy()***	Returns a copy of the set

4. ***difference()***	Returns a set containing the difference between two or more sets

5. ***difference_update()***	Removes the items in this set that are also included in another, specified set

6. ***discard()***	Remove the specified item

7. ***intersection()***	Returns a set, that is the intersection of two or more sets

8. ***intersection_update()***	Removes the items in this set that are not present in other, specified set(s)

9. ***isdisjoint()***	Returns whether two sets have a intersection or not

10. ***issubset()***	Returns whether another set contains this set or not

11. ***issuperset()***	Returns whether this set contains another set or not

12. ***pop()***	Removes an element from the set

13. ***remove()***	Removes the specified element

14. ***symmetric_difference()***	Returns a set with the symmetric differences of two sets

15. ***symmetric_difference_update()***	inserts the symmetric 
differences from this set and another

16. ***union()***	Return a set containing the union of sets

17. ***update()***	Update the set with another set, or any other iterable

In [ ]:
#Dictionary(ordered, changeable, and does not allow duplicates)
#The values in dictionary items can be of any data type.
t = {"Name": "Aditi", "Age": 17, "Currently": "Student"}
print(t)
print(t["Age"])
print(len(t))
print(type(t))

{'Name': 'Aditi', 'Age': 17, 'Currently': 'Student'}
17
3
<class 'dict'>

In [ ]:
#Accessing Items
print(t["Currently"])
#There is also a method called get() that will give you the same result
x=t.get("Name")
print(x)
#Get Keys
print(t.keys())
t["City"]="Bhopal" #Adding a key
print(t.keys())
#Get Values
print(t.values())
t["FavColour"]="Purple"
print(t.values()) #Adding Values
t["FavColour"]="Aqua" #Replacing a value #Change values
print(t.values())
#Get Items
print(t.items())
#Check if Key Exists
if "Name" in t:
  print("Evie")
#Update Dictionary
t.update({"Age":18})
print(t)
#Removing Items
t.pop("FavColour") #pop() method
print(t)
t.popitem() #popitem() method
print(t)
del t["Currently"] #del method
print(t)
#del keyword can also delete the dictionary completely
#del t
#print(t) #this will cause an error because "t" no longer exists.

Student
Aditi
dict_keys(['Name', 'Age', 'Currently'])
dict_keys(['Name', 'Age', 'Currently', 'City'])
dict_values(['Aditi', 18, 'Student', 'Bhopal'])
dict_values(['Aditi', 18, 'Student', 'Bhopal', 'Purple'])
dict_values(['Aditi', 18, 'Student', 'Bhopal', 'Aqua'])
dict_items([('Name', 'Aditi'), ('Age', 18), ('Currently', 'Student'), ('City', 'Bhopal'), ('FavColour', 'Aqua')])
Evie
{'Name': 'Aditi', 'Age': 18, 'Currently': 'Student', 'City': 'Bhopal', 'FavColour': 'Aqua'}
{'Name': 'Aditi', 'Age': 18, 'Currently': 'Student', 'City': 'Bhopal'}
{'Name': 'Aditi', 'Age': 18, 'Currently': 'Student'}
{'Name': 'Aditi', 'Age': 18}

In [ ]:
#clear() method empties the dictionary
t.clear()
print(t)

{}

In [ ]:
#Loop Through a Dictionary
t = {"Name": "Aditi", "Age": 17, "Currently": "Student"}
#Print all key names
for x in t:
  print(x)
print(" ")
#Print all values
for x in t:
  print(t[x])
print("  ")
#Printing values: values() method
for x in t.values():
  print(x)
print("  ")
#Printing keys: keys() method
for x in t.keys():
  print(x)
print(" ")
#items() method {Loop through both keys and values}
for x in t.items():
  print(x)

Name
Age
Currently

Aditi
17
Student

Aditi
17
Student

Name
Age
Currently

('Name', 'Aditi')
('Age', 17)
('Currently', 'Student')

In [ ]:
#Copy a Dictionary
#can't use list1= list2 as changes made in list1 will be made in list2 too
#copy() method
q=t.copy()
print(q)
#dict() function
p=dict(t)
print(p)

{'Name': 'Aditi', 'Age': 17, 'Currently': 'Student'}
{'Name': 'Aditi', 'Age': 17, 'Currently': 'Student'}

In [ ]:
#Nested Dictionaries
y = {"child1" : {"name" : "Emil","year" : 2004},
  "child2" : {"name" : "Tobias","year" : 2007},
  "child3" : {"name" : "Linus","year" : 2011}}
print(y)
#method2
child1 = {"name" : "Emil","year" : 2004}
child2 = {"name" : "Tobias","year" : 2007}
child3 = {"name" : "Linus","year" : 2011}
y = {"child1" : child1,"child2" : child2,"child3" : child3}
print(y)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
#setdefault()
#Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
x=t.setdefault("Name","Evie")
print(x)
#when the item doesn't exist
y=t.setdefault("Colour","Black")
print(y)

Aditi
Black

In [ ]:
#Python If ... Else
#Equals: a == b
#Not Equals: a != b
#Less than: a < b
#Less than or equal to: a <= b
#Greater than: a > b
#Greater than or equal to: a >= b
x=6
y=4
if x>y:
  print("x is greater than y")
#Elif
if x<y:
  print("x is lesser than y")
elif x>y:
  print("x is greater than y")

x is greater than y
x is greater than y

In [ ]:
#Else
a=30
b=30
if a<b:
  print("a is lesser than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [ ]:
#else
if x<y:
  print("x is greater than y")
else:
  print("x is lesser than y")

x is lesser than y

In [ ]:
#Short Hand If
#If you have only one statement to execute, you can put it on the same line as the if statement.
if x > y: print("x is greater than y")
#Short Hand If ... Else
print("X") if y>x else print("Y")
print("A") if a>b else print("equal") if a==b else print("B")

x is greater than y
Y
equal

In [ ]:
#And
a=6
b=4
c=8
if a>b and c>b:
  print("Both conditions are true")

Both conditions are true

In [ ]:
#Or
if a>b or b>a:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
#Nested If
#can have if statements inside if statements
z=38
if z>10:
  print("Above ten")
  if z>20:
    print("Also above 20")
    if z>30:
      print("Also above 30")
      if z>40:
        print("Also above 40")
      else:
          print("but not above 40")

Above ten
Also above 20
Also above 30
but not above 40

In [ ]:
#The pass Statement
#if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error
x=6
y=4
if y>x:
  pass

In [ ]:
#While Loop
#while loop we can execute a set of statements as long as a condition is true.
u=1
while u<100:
  print(u)
  u+=12

1
13
25
37
49
61
73
85
97

In [ ]:
#Break statement
i=1
while i<100:
  print(i)
  if (i>60):
    break
  i+=10
print("..........")
a= 1
while a < 6:
  print(a)
  if (a == 3):
    break
  a += 1

1
11
21
31
41
51
61
..........
1
2
3

In [ ]:
#continue Statement
i = 5
while i < 16:
  i += 1
  if i == 10:
    continue
  print(i)
# Note that number 10 is missing in the result

6
7
8
9
11
12
13
14
15
16

In [ ]:
#else Statement
i = 1
while i < 60:
  print(i)
  i += 10
else:
  print("i is no longer less than 60")

1
11
21
31
41
51
i is no longer less than 100

In [ ]:
#For loops
f=["cherry","apple","litchi"]
for x in f:
  print(x)
for x in "apple": #Looping Through a String
  print(x)

cherry
apple
litchi
a
p
p
l
e

In [ ]:
#break Statement
f=["cherry","berry","apple","litchi"]
for x in f:
  print(x)
  if x == "apple":
    break

cherry
berry
apple

In [ ]:
#Break statement
f=["cherry","berry","apple","litchi"]
for x in f:
  if x == "apple":
    break
  print(x)

cherry
berry

In [ ]:
#continue Statement
#With the continue statement we can stop the current iteration of the loop, and continue with the next
for x in f:
  if x=="apple":
    continue          #will not print apple
  print(x)

cherry
berry
litchi

In [ ]:
#The range() Function
#To loop through a set of code a specified number of times
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
for x in range(5):
  print(x)
print(".....")
for y in range(2,8):
  print(y)

0
1
2
3
4
.....
2
3
4
5
6
7

In [ ]:
#range() Function
#The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter
for x in range(5,51,5):
  print(x)

5
10
15
20
25
30
35
40
45
50

In [ ]:
#For Loop: Else
#The else keyword in a for loop specifies a block of code to be executed when the loop is finished
for x in range(6):
  print(x)
else:
  print("Annnnnnnnnd that's it!")

0
1
2
3
4
5
Annnnnnnnnd that's it!

In [ ]:
##For Loop: Else
#The else block will NOT be executed if the loop is stopped by a break statement.
for x in range(11):
  if x == 7: break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6

In [ ]:
#For loop: Nested Loops {loop inside a loop}
#The "inner loop" will be executed one time for each iteration of the "outer loop"
f=["cherry","berry","apple","litchi"]
u=["uwu","@w@"]
for x in u:
  for y in f:
    print(x,y)

uwu cherry
uwu berry
uwu apple
uwu litchi
@w@ cherry
@w@ berry
@w@ apple
@w@ litchi

In [ ]:
#The pass Statement
#for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.
for x in [0,3,6]:
  pass

In [ ]:
#Creating a Function
def uwu():
  print("Blue side of the skyyyyyyyyyyyyyyy")
uwu()          #Calling a Function

Blue side of the skyyyyyyyyyyyyyyy

In [ ]:
#Functions: Arguments
def qwq(uvu):
  print(uvu + " Patel")
qwq("Aditi")
qwq("Omi")
qwq("Menali")

Aditi Patel
Omi Patel
Menali Patel

In [ ]:
#Number of Arguments
#This function expects 2 arguments, and gets 2 arguments
#If you try to call the function with 1 or 3 arguments, you will get an error
def uwu(Fname,Lname):
  print(Fname+" "+Lname)
uwu("Aditi","Patel")

Aditi Patel

In [ ]:
#Arbitrary Arguments, *args
def uwu(*meow):
  print("The cutest kitten is "+meow[1]+".")
uwu("Amythyst","Aditi","Anshu")

The cutest kitten is Aditi.

In [ ]:
#Keyword Arguments
def uwu(mew1,mew2,mew3):
  print("The most dangerous kitten is "+mew1+".")
uwu(mew1="Amythyst",mew2="Aditi",mew3="Anshu")

The most dangerous kitten is Amythyst.

In [ ]:
#Arbitrary Keyword Arguments, **kwargs
def uwu(**mew):
  print("Her last name is " + mew["lname"])
uwu(fname = "Aditi", lname = "Patel")

Her last name is Patel

In [ ]:
#Default Parameter Value
def qwq(colour="Purple"):
  print("My fav colour is "+colour)
qwq("Pink")
qwq("Aqua")
qwq()
qwq("Black")

My fav colour is Pink
My fav colour is Aqua
My fav colour is Purple
My fav colour is Black

In [ ]:
#Passing a List as an Argument
def f(friuts):
  for x in fruits:
    print(x)
fruits=["cherry","berry","strawberry"]
f(fruits)

cherry
berry
strawberry

In [ ]:
#Return Values (for calculation)
def uwu(x):
  return 10*x
print(uwu(4))
print(uwu(5))
print(uwu(6))

40
50
60

In [ ]:
#The pass Statement
def empty():
  pass

In [ ]:
#Recursion
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result
print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
#Python Lambda
#A lambda function is a small anonymous function.
#A lambda function can take any number of arguments, but can only have one expression.
x= lambda a: a +5
print(x(5))

10

In [ ]:
#lambda
x= lambda a,b: a*b
print(x(2,8))

16

In [ ]:
#lambda
x= lambda a,b,c:a+b-c
print(x(4,6,2))

8

In [ ]:
#lambda #to make a function that always doubles the number you send in
def uwu(n):
  return lambda a:a*n
qwq= uwu(2)
print(qwq(11))

22

In [ ]:
#lambda #to make a function that always triples the number you send in
def uwu(n):
  return lambda a:a*n
qwq= uwu(3)
print(qwq(11))

33

In [ ]:
#lambda #use the same function definition to make both functions (double and triple) in the same program
def uwu(n):
  return lambda a:a*n
qwq= uwu(2)
twt= uwu(3)
print(qwq(11))
print(twt(11))

22
33

In [ ]:
#Array
#Lists and Arrays are almost same except in Array only a same type of data type is used
#Python does not have built-in support for Arrays, but Python Lists can be used instead.
c=["pink","purple","black"]
x=c[1]   #Access the Elements of an Array
print(x)
c[2]="aqua"  #Modify the value
print(c)
print(len(c))  #Length of an Array

purple
['pink', 'purple', 'aqua']
3

In [ ]:
#Looping Array Elements
c=["pink","purple","black"]
for x in c:
  print(x)

pink
purple
black

In [ ]:
#Adding Array Elements
c=["pink","purple","black"]
c.append("aqua")   #append() method
print(c)
c.extend("orange")  #extend() method {adds iterables}
print(c)

['pink', 'purple', 'black', 'aqua']
['pink', 'purple', 'black', 'aqua', 'o', 'r', 'a', 'n', 'g', 'e']

In [ ]:
#extend() method
c=["pink","purple","black"]
p=(1,5,3,9)
c.extend(p)
print(c)

['pink', 'purple', 'black', 1, 5, 3, 9]

In [ ]:
#Removing Array Elements
c.pop(2) #pop() method
print(c)
c.remove("pink")  #remove method
print(c)

['pink', 'purple', 'aqua']
['purple', 'aqua']

In [ ]:
#clear() method in Array
#Removes all the elements from the list
c.clear()
print(c)

[]

In [ ]:
#copy() method in Array
f=["cherry","merry","carry","larry"]
x=f.copy()
print(x)

['cherry', 'merry', 'carry', 'larry']

In [ ]:
#count() method in Array
#returns the number of elements with the specified value
k=["cherry","merry","larry","larry"]
x=k.count("larry")
print(x)

2

In [ ]:
#index() method in Array
#returns the position at the first occurrence of the specified value.
#The index() method only returns the first occurrence of the value.
x=k.index("larry")
print(x)

2

In [ ]:
#insert() method in Array
#inserts the specified value at the specified position.
k.insert(3,"ferry")
print(k)

['cherry', 'merry', 'larry', 'ferry', 'larry']

In [ ]:
#reverse() method in Array
k.reverse()
print(k)

['larry', 'ferry', 'larry', 'merry', 'cherry']

In [ ]:
#reversed() function
#returns a reversed iterator object.
#only works in loops
y=reversed(k)
for x in y:
  print(x)

cherry
merry
larry
ferry
larry

In [ ]:
#sort() method in Array
#sorts the list ascending by default
k=['larry', 'ferry', 'larry', 'merry', 'cherry'] 
k.sort() #Sort the list alphabetically
print(k)
k.sort(reverse=True) #Sort the list descending
print(k)

['cherry', 'ferry', 'larry', 'larry', 'merry']
['merry', 'larry', 'larry', 'ferry', 'cherry']

In [ ]:
#sort() : length of the value
def uwu(e):
  return len(e)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=uwu)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [ ]:
#Sort a list of dictionaries based on the "year" value of the dictionaries:
def uwu(e):
  return e['year']
cars = [ {'car': 'Ford', 'year': 2005},
         {'car': 'Mitsubishi', 'year': 2000},
         {'car': 'BMW', 'year': 2019},
         {'car': 'VW', 'year': 2011} ]
cars.sort(key=uwu)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [ ]:
#Sort the list by the length of the values and reversed
def uwu(e):
  return len(e)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(reverse=True, key=uwu)
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [ ]:
#Python Classes/Objects
#Create a Class
class uwu:
  x=5
print(uwu)

<class '__main__.uwu'>

In [ ]:
#Create Object
class uwu:
  x="Unicorn!"
q=uwu()
print(q.x)

Unicorn!

In [ ]:
#The __init__() Function
class Person:
  def __init__(self,name,age):
    self.name= name
    self.age= age
p = Person("Aditi",17)
print(p.name)
print(p.age)

Aditi
17

In [ ]:
#The __str__() Function
class Person:
  def __init__(self,name,age):
    self.name= name
    self.age= age
  def __str__(self):
    return f"{self.name}({self.age})"
p = Person("Aditi",17)
print(p)

Aditi(17)

In [ ]:
#Object Methods
class Person:
  def __init__(self,name,age):
    self.name= name
    self.age= age
  def uwu(self):
    print("Hola! I ish "+ self.name)
p=Person("Aditi",17)
p.uwu()

Hola! I ish Aditi

In [ ]:
#The self Parameter
#you can use any any word other than self
class Person:
  def __init__(meow,name,age):
    meow.name= name
    meow.age= age
  def uwu(meow):
    print("Hola! I ish "+ meow.name)
p=Person("Aditi",17)
p.uwu()

Hola! I ish Aditi

In [ ]:
#Modify Object Properties
class Person:
  def __init__(self,name,age):
    self.name= name
    self.age= age
  def uwu(self):
    print("Hola! I ish "+ self.name)
p=Person("Aditi",17)
p.age=21
print(p.age)

21

In [ ]:
#Delete Object Properties
#You can delete properties on objects by using the del keyword
class Person:
  def __init__(self,name,age):
    self.name= name
    self.age= age
  def uwu(self):
    print("Hola! I ish "+ self.name)
p=Person("Aditi",17)
del p.age
print(p.age) #It is supposed to show error because 'age' is deleted

AttributeError: ignored

In [ ]:
#Delete Objects
#You can delete objects by using the del keyword
class Person:
  def __init__(self,name,age):
    self.name= name
    self.age= age
  def uwu(self):
    print("Hola! I ish "+ self.name)
p=Person("Aditi",17)
del p
print(p) #It is supposed to show error because 'p' is deleted

NameError: ignored

In [ ]:
#The pass Statement
#class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.
class person:
  pass

In [ ]:
#Python Inheritance
#Create a Parent Class
class Person:
  def __init__(self, fname, lname):
    self.fn = fname
    self.ln = lname

  def uwu(self):
    print(self.fn, self.ln)
x=Person("Aditi","Patel")
x.uwu()

Aditi Patel

In [ ]:
#Python Inheritence
#Create a Child Class
class Student(Person):
  pass
x=Student("Omi","Patel")
x.uwu()

Omi Patel

In [ ]:
#Add the __init__() Function
#The child's __init__() function overrides the inheritance of the parent's __init__() function.
class Person:
  def __init__(self, fname, lname):
    self.fn = fname
    self.ln = lname

  def uwu(self):
    print(self.fn, self.ln)

class Student(Person):
  def __init__(self,fname,lname):
    Person.__init__(self,fname,lname)
x=Student("Aditi","Patel")
x.uwu()

Aditi Patel

In [ ]:
#Use the super() Function
class Person:
  def __init__(self, fname, lname):
    self.fn = fname
    self.ln = lname

  def uwu(self):
    print(self.fn, self.ln)

class Student(Person):
  def __init__(self,fname,lname):
    super().__init__(fname,lname)
x=Student("Aditi","Patel")
x.uwu()

Aditi Patel

In [ ]:
#Add Properties
class Person:
  def __init__(self, fname, lname):
    self.fn = fname
    self.ln = lname

  def uwu(self):
    print(self.fn, self.ln)

class Student(Person):
  def __init__(self,fname,lname):
    super().__init__(fname,lname)
    self.graduationyear=2022
x=Student("Aditi","Patel")
print(x.graduationyear)

2022

In [ ]:
#Add Properties
class Person:
  def __init__(self, fname, lname):
    self.fn = fname
    self.ln = lname

  def uwu(self):
    print(self.fn, self.ln)

class Student(Person):
  def __init__(self,fname,lname,year):
    super().__init__(fname,lname)
    self.graduationyear=year

x=Student("Aditi","Patel",2022)
print(x.graduationyear)

2022

In [ ]:
#Add Methods
class Person:
  def __init__(self, fname, lname):
    self.fn = fname
    self.ln = lname

  def uwu(self):
    print(self.fn, self.ln)

class Student(Person):
  def __init__(self,fname,lname,year):
    super().__init__(fname,lname)
    self.graduationyear=year

  def welcome(self):
    print("Welcome",self.fn,self.ln,"to the class of",self.graduationyear)
  
x=Student("Aditi","Patel",2022)
x.welcome()

Welcome Aditi Patel to the class of 2022

In [ ]:
#Iterator
#consist of the methods __iter__() and __next__().

#Return an iterator from a tuple, and print each value:
f=("cherry","blueberry","strawberry") #tuple
u=iter(f)
print(next(u))
print(next(u))
print(next(u))

cherry
blueberry
strawberry

In [ ]:
#Iterator
#Strings are also iterable objects, containing a sequence of characters:
p="unicorn"
u=iter(p)
print(next(u))
print(next(u))
print(next(u))
print(next(u))
print(next(u))
print(next(u))
print(next(u))

u
n
i
c
o
r
n

In [ ]:
#Looping Through an Iterator
for x in f:
  print(x)
print(".....")
for x in p:
  print(x)

cherry
blueberry
strawberry
.....
u
n
i
c
o
r
n

In [ ]:
#Create an Iterator
#The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.
#The __next__() method also allows you to do operations, and must return the next item in the sequence.
class num:
  def __iter__(uwu):
    uwu.a=1
    return uwu
  def __next__(uwu):
    x=uwu.a
    uwu.a +=1
    return x
o= iter(num())
print(next(o))
print(next(o))
print(next(o))
print(next(o))
print(next(o))
print(next(o))
print(next(o))

1
2
3
4
5
6
7

In [ ]:
#StopIteration
class num:
  def __iter__(uwu):
    uwu.a=1
    return uwu
  def __next__(uwu):
    if uwu.a<=12:
      x=uwu.a
      uwu.a +=1
      return x
    else:
      raise StopIteration
for x in iter(num()):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
#Python Scope
#A variable is only available from inside the region it is created. This is called scope.

#Local Scope
#A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.
def uwu():
  x=45
  print(x)
uwu()
#Function Inside Function
def uwu():
  x=600
  def uvu():    #inner function
    print(x)
  uvu()
uwu()

45
600

In [ ]:
#Global Scope
#A variable created in the main body of the Python code is a global variable and belongs to the global scope.
#Global variables are available from within any scope, global and local.
x=720
def uwu():
  print(x)
  
uwu()
print(x)

720
720

In [ ]:
#Naming Variables
#If you operate with the same variable name inside and outside of a function, Python will treat them as two separate variables, one available in the global scope (outside the function) and one available in the local scope (inside the function):
x=720
def uwu():
  x=200
  print(x)
  
uwu()
print(x)

200
720

In [ ]:
#Global Keyword
#If you need to create a global variable, but are stuck in the local scope, you can use the global keyword.
def uwu():
  global x
  x=124
uwu()
print(x)

124

In [ ]:
#Global Keyword
#Also, use the global keyword if you want to make a change to a global variable inside a function.
x=340
def uwu():
  global x
  x=124
uwu()
print(x)

124